header{
    width: 100%;
    height: 100vh;
}

.title-block{
    width: 80%;
    position:absolute;
    left:50%;
    top: 30%;
    transform: translate(-50%, -30%);
    text-align: center;
    img{
        width:90%;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    p{
        width: 60%;
        margin: 0 auto;
        color: $accent;
    }
}

.genre-bar{
    position: relative;
    bottom: -65%;
}

.genre-list .flickity-prev-next-button,
.movie-results .flickity-prev-next-button, 
.recipe-results .flickity-prev-next-button{
    background: hsla(0, 49%, 8%, 0.5);
    transition: all 0.3s;
    &:hover{
        background: hsla(0, 0%, 100%, 0.5);
    }
    &:active{
        background: hsla(0, 0%, 100%, 0.5);
    }
}


.flickity-prev-next-button.next {
    right: -14px;
}

.flickity-prev-next-button.previous {
    left: -14px;
}


.button{
    padding: 10px 25px 8px 25px;
    display: block;
    clear: both;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 20px 0;
    background-color:rgba(151, 2, 2, 0.33);
    border: none;
    outline: none;
    color: $accent;
    border-radius: 18px;
    transition: all 0.5s;

    &:hover{
        background: white;
    }
     &:focus{
        background: white;
    }
}

          