
ul{
    // margin: 0 auto;
    li{
        input{
            display: none;
        }
        label{
            border: 1px solid $accent;
            padding: 20px 30px;
            color: $accent;
            display: inline-block;
            transition: all 0.5s;
            &:hover{
            color: white;
            border: 1px solid white;
            }
            &:active{
            color: white;
            border: 1px solid white;
            }
        }
    }
}


//movies screen

.movie-card{
    width: 100%;
    img{
        // width: 90%;
        height: 70vh;
        margin: 0 auto;
        display: block;
    }
}

// recipe screen


.recipe-card{
    width: 40%;
    img{
        width: 100%;
        margin: 0 auto;
    }
    
}


footer{
    padding: 20px 80px 20px 0;
    background: $accent;
    margin: 0;
    color: white;
    margin-top: 30px;
    text-align: right;
}

