
ul{
    // margin: 0 auto;
    li{
        input{
            display: none;
        }
        label{
            border: 1px solid $accent;
            padding: 20px 30px;
            color: $accent;
            display: inline-block;
            transition: all 0.5s;
            &:hover{
            color: white;
            border: 1px solid white;
            }
            &:active{
            color: white;
            border: 1px solid white;
            }
        }
    }
}


//movies screen

.movie-card{
    width: 100%;
    img{
        width: 90%;
        margin: 0 auto;
        display: block;
    }
}

// recipe screen




