@import 'normalize';

// GENERAL STYLES

$background: #090404;
$accent:#B9090B;


body{
    font-family: 'helvetica';
    font-size: 62.5%;
    background: $background;
    color: white;
}

.wrapper{
    max-width: 750px;
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
}

ul{
    padding: 0;
    li{
        list-style: none;
    }
}

img{
    display: block;
}

// PARTIALS
@import 'header';
@import 'main';
@import 'media';