article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'helvetica';
  font-size: 62.5%;
  background: #090404;
  color: white; }

.wrapper {
  max-width: 750px;
  width: 90%;
  margin: 0 auto;
  font-size: 1rem; }

ul {
  padding: 0; }
  ul li {
    list-style: none; }

img {
  display: block; }

header {
  width: 100%;
  height: 100vh; }

.title-block {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  text-align: center; }
  .title-block img {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .title-block p {
    width: 60%;
    margin: 0 auto;
    color: #B9090B; }

.genre-bar {
  position: relative;
  bottom: -65%; }

.genre-list .flickity-prev-next-button,
.movie-results .flickity-prev-next-button,
.recipe-results .flickity-prev-next-button {
  background: rgba(30, 10, 10, 0.5);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .genre-list .flickity-prev-next-button:hover,
  .movie-results .flickity-prev-next-button:hover,
  .recipe-results .flickity-prev-next-button:hover {
    background: rgba(255, 255, 255, 0.5); }
  .genre-list .flickity-prev-next-button:active,
  .movie-results .flickity-prev-next-button:active,
  .recipe-results .flickity-prev-next-button:active {
    background: rgba(255, 255, 255, 0.5); }

.flickity-prev-next-button.next {
  right: -14px; }

.flickity-prev-next-button.previous {
  left: -14px; }

.button {
  padding: 10px 25px 8px 25px;
  display: block;
  clear: both;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 20px 0;
  background-color: rgba(151, 2, 2, 0.33);
  border: none;
  outline: none;
  color: #B9090B;
  border-radius: 18px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  .button:hover {
    background: white; }
  .button:focus {
    background: white; }

#mainScreen {
  margin-top: 20px; }

ul li input {
  display: none; }

ul li label {
  border: 1px solid #B9090B;
  padding: 20px 30px;
  color: #B9090B;
  display: inline-block;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  ul li label:hover {
    color: white;
    border: 1px solid white; }
  ul li label:active {
    color: white;
    border: 1px solid white; }
  ul li label:active {
    color: white;
    border: 1px solid white; }
  ul li label input[type="radio"]:checked label {
    border: 1px solid white; }

.movie-card {
  width: 100%; }
  .movie-card img {
    width: 90%;
    margin: 0 auto;
    display: block;
    border-radius: 20px; }
  .movie-card .movieOverlay {
    width: 90%;
    position: absolute;
    padding: 5px 20px;
    margin: 0 auto;
    bottom: 55px;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0 0 20px 20px; }

.movie-card .expand {
  visibility: visible;
  opacity: 1; }

.readMore {
  padding: 20px 10px; }
  .readMore p {
    margin: 0;
    width: auto;
    float: left;
    padding: 0 10px 0 30px; }
  .readMore svg {
    float: left; }

.movie-overlay h3 {
  padding: 0 10px;
  margin: 5px 0; }

.movie-overlay p {
  padding: 0 10px; }

.recipe-card {
  width: 100%;
  padding: 0px 20px; }
  .recipe-card img {
    width: 90%;
    margin: 0 auto;
    border-radius: 20px 20px 0 0; }

.link {
  color: #B9090B;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: block; }

.recipe-label {
  background-color: white;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: 0px 0 20px 20px;
  width: 90%; }
  .recipe-label p {
    color: black; }
  .recipe-label h3 {
    margin: 0 0 10px 0;
    color: #090404; }

.recipe-button {
  margin: 0 auto; }

.reset {
  background: white;
  margin: 20px auto;
  position: relative;
  bottom: -45px;
  color: black; }

.movie-results, .recipe-results {
  min-height: 600px; }

main .flickity-viewport {
  min-height: 600px; }

footer {
  background: #B9090B;
  color: #fff9;
  margin-top: 30px;
  text-align: center;
  padding: 60px 0 20px 0; }
  footer div p {
    margin: 0;
    font-size: 0.8rem; }

@media (min-width: 750px) {
  .movie-card img {
    width: 50%; }
  .movie-card .movieOverlay {
    width: 50%; }
  .movie-card .readMore {
    padding: 19px 130px;
    text-align: center; }
  .recipe-card img {
    width: 50vh; }
  .recipe-card .recipe-label {
    width: 50vh;
    margin: 0 auto; } }
